{{#if extra.inDb}}
	<div class="row">
		<div class="col-md-2">
			<img src="{{album.album_art}}" class="profile-img img-fluid" />
		</div>
		<div class="col-md-10">
			<h2 id="title" class="profile-title">{{album.title}}</h2>
			<h5>by <span id="artists">{{#each album.Artists}}{{this.artist_name}}{{#unless @last}}, {{/unless}}{{/each}}</span><br><br>
			Label: <span id="labels">{{#each album.Labels}}{{this.label_name}}{{#unless @last}}, {{/unless}}{{/each}}</span><br>
			Released: <span id="year">{{album.release_year}}</span><br>
			Genre: <span id="genres">{{#each album.Genres}}{{this.genre_name}}{{#unless @last}}, {{/unless}}{{/each}}</span><br>
			Style: <span id="styles">{{#each album.Styles}}{{this.style_name}}{{#unless @last}}, {{/unless}}{{/each}}</span></h5>
			<br>
			{{#if extra.owned}}
				<a href="/user/{{extra.username}}/post/?albumId={{album.id}}" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Write a Post</a>
			{{else}}
				<a id="addButton" data-id="{{extra.userId}}" data-username="{{extra.username}}" data-master-id="{{album.master_id}}" class="btn btn-primary"><i class="fa fa-plus"></i> Add to Your Collection</a>
			{{/if}}
		</div>
	</div>
	<br>
	{{#if album.Posts}}
	<h4>User Posts about This Album</h4>
	<div class="row">
		<div class="col-md-12">
			<div class="tab-pane fade show active" id="tabPosts" role="tabpanel" aria-labelledby="profile-tab">
				<div class="list-group"></div>
				{{#each album.Posts}}
					{{#if isPublic}}
						<div id="post-{{id}}" class="card text-white bg-dark mb-3">
							<div class="card-body">
								<div class="row">
									<div class="col-md-2">
										<a href="/user/{{User.username}}">
											{{#ifEquals User.gravatarUrl 'https://s.gravatar.com/avatar/c36cfd2d186891b0f2645d4b7a31169d?s=200&r=pg&d=404'}}
												<img src="/assets/img/silhouette.jpg" class="img-fluid" />
											{{else}}
												<img src="{{User.gravatarUrl}}" class="img-fluid post-profile-image" />
											{{/ifEquals}}
										</a>
										<h6><a href="/user/{{User.username}}" class="white album-username">{{User.username}}</a></h6>
									</div>
									<div class="col-md-10">
										<p class="mb-1">{{{body}}}</p>
										<small><em>Posted {{formatDate createdAt "M/DD/YYYY @ h:mma"}}</em></small>
									</div>
								</div>
							</div>
						</div>
					{{/if}}
				{{/each}}
			</div>
		</div>
	</div>
	{{else}}
		<h4>No one has written anything public about this album yet.</h4>
	{{/if}}
{{else}}
<div class="row">
	<div class="col-md-2">
		<img src="{{album.thumb}}" class="profile-img img-fluid" />
	</div>
	<div class="col-md-10">
		<h2 id="title" class="profile-title">{{album.title}}</h2>
		<h5>by <span id="artists">{{#each album.artists}}{{this.name}}{{#unless @last}}, {{/unless}}{{/each}}</span><br><br>
		Label: <span id="labels">{{#each album.labels}}{{this.name}}{{#unless @last}}, {{/unless}}{{/each}}</span><br>
		Released: <span id="year">{{album.year}}</span><br>
		Genre: <span id="genres">{{#each album.genres}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</span><br>
		Style: <span id="styles">{{#each album.styles}}{{this}}{{#unless @last}}, {{/unless}}{{/each}}</span></h5>
		<br>
		<a id="addButton" data-id="{{extra.userId}}" data-master-id="{{album.master_id}}" data-album-art="{{album.thumb}}" class="btn btn-primary"><i class="fa fa-plus"></i> Add to Your Collection</a>
	</div>
</div>
<br>
<h4>No one has written anything public about this album yet.</h4>
{{/if}}