{{#if user}}
	<div class="row">
		<div class="col-md-2">
			{{#if extra.gravatar}}
				<img src="{{extra.gravatar}}" class="profile-img img-fluid" />
			{{/if}}
		</div>
		<div class="col-md-10">
			<h2 class="profile-title">{{user.username}}</h2>
			{{#if user.name}}<h5>(a.k.a. {{user.name}})</h5>{{/if}}
			<h6>Member since {{formatDate user.createdAt "MM/DD/YYYY"}}</h6>
			{{#if user.location}}
				<p>Location: {{user.location}}</p>
			{{/if}}
			{{#if user.bio}}
				<p>{{user.bio}}</p>
			{{/if}}
			{{#if extra.canEdit}}
				<a href="/user/{{user.username}}/edit">Edit your Information</a>
			{{/if}}
		</div>
	</div>
	{{#if extra.canEdit}}
	<br>
	<div class="row">
		<div class="col-md-12">
			<a href="/albums/search" class="btn btn-primary"><i class="fa fa-plus"></i> Add to Your Collection</a>
			<a href="/user/{{user.id}}/post" class="btn btn-primary"><i class="fas fa-pencil-alt"></i> Write a Post</a>
		</div>
	</div>
	{{/if}}
	<div class="row">
		<div class="col-md-12">
			{{#unless user.Albums.length}}
				<div class="alert alert-dismissible alert-warning">
					{{#if extra.canEdit}}
						<h4 class="alert-heading">HIYA!</h4>
						<h5>We noticed you don't have any albums in your collection yet. That's no good.  You should <a href="/user/{{extra.username}}/albums/search">add some albums</a> and then write about them!</h4>
					{{else}}
						<h4>This user has no albums in their collection.</h4>
					{{/if}}
				</div>
			{{else}}
				<div class="tabbable">
					<ul class="nav nav-tabs" id="myTab" role="tablist">
						<li class="nav-item">
							<a class="nav-link active" id="profile-tab" data-toggle="tab" href="#tabPosts" role="tab" aria-controls="profile" aria-selected="false">{{user.username}}'s Posts</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" id="home-tab" data-toggle="tab" href="#tabCollection" role="tab" aria-controls="home" aria-selected="true">{{user.username}}'s Albums</a>
						</li>
					</ul>
					<div class="tab-content" id="profileTabs">
						<div class="tab-pane fade show active" id="tabPosts" role="tabpanel" aria-labelledby="profile-tab">
							<div class="list-group"></div>
							{{#each user.Posts}}
								<div id="post-{{id}}" class="card text-white bg-dark mb-3">
									<div class="card-body">
										<div class="row">
											<div class="col-md-2">
												<a href="/albums/{{Album.id}}"><img src="{{Album.album_art}}" class="img-fluid" /></a>
											</div>
											<div class="col-md-10">
												<div class="d-flex w-100 justify-content-between">
													<h5 class="white" style="margin:0">RE: "{{Album.title}}" by {{Album.Artist.artist_name}}</h5>
													{{#if ../extra.canEdit}}
														<a class="edit-post" href="/user/{{../user.username}}/post/?post={{id}}"><i class="far fa-edit"></i></a>
													{{/if}}
												</div>
												<small><em>Posted {{formatDate createdAt "M/DD/YYYY @ H:mma"}}</em></small>
												<br><br>
												<p class="mb-1">{{body}}</p>
											</div>
										</div>
									</div>
								</div>
							{{/each}}
						</div>
						<div class="tab-pane fade" id="tabCollection" role="tabpanel" aria-labelledby="home-tab">
							{{#groupedEach 4 user.Albums}}
								<div class="row">
									{{#each this}}
									<div class="col-md-3">
										<div class="album-container">
											<img src="{{this.album_art}}" class="album-image img-fluid" />
											<div class="album-overlay">
												<div class="album-overlay-text">
													<h5 class="white">{{this.title}}</h5>
													<p>by {{this.Artist.artist_name}}</p>
													{{#if ../../extra.canEdit}}
													<p>
														<a href="/user/{{../../user.username}}/post"><i class="fas fa-pencil-alt"></i> Write a Post</a>
													</p>
													{{/if}}
												</div>
											</div>
										</div>
									</div>
									{{/each}}
								</div>
								<br>
							{{/groupedEach}}
						</div>
					</div>
				</div>
			{{/unless}}
		</div>
	</div>
{{/if}}