<h2>Search Albums</h2>

<p>We currently have over 21,000 albums in our database.</p>

<form method="post">
	<div id="searchForm" class="form-row">
		<div class="col-md-3">
			<h6>Search by:</h6>
			<select name="type" id="type" class="form-control">
				<option value="album" {{#if extra.album}}selected{{/if}}>Album Title</option>
				<option value="artist" {{#unless extra.album}}selected{{/unless}}>Artist Name</option>
			</select>
		</div>
		<div class="col-md-7">
			<h6>Enter an <span id="searchTypeText">album title</span>:</h6>
			<input required name="query" id="query" type="text" class="form-control" placeholder="">
		</div>
		<div class="col-md-2">
			<br>
			<button type="submit" class="btn btn-primary">Search</button>
		</div>
	</div>
</form>
<br><br>


{{#if albums}}
<h4>{{#if extra.searched}}Search Results{{else}}Recently Added to Project 144{{/if}}</h4>
<br>
<div id="results">
	{{#if extra.searched}}
		{{#groupedEach 4 albums}}
			<div class="row">
				{{#each this}}
				<div class="col-md-3">
					<div class="album-container">
						<img src="{{this.thumb}}" class="album-image img-fluid" />
						<div class="album-overlay">
							<div class="album-overlay-text">
								{{#if ../../extra.loggedIn}}
									<h5 class="white"><a href="/album/{{this.id}}">{{this.albumName}}</a></h5>
								{{else}}
									<h5 class="white">{{this.albumName}}</h5>
								{{/if}}
								<p>by {{this.artistName}}</p>
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
			<br>
		{{/groupedEach}}
		{{#unless albums}}
			<h4>Your search returned no results.</h4>
		{{/unless}}
	{{else}}
		{{#groupedEach 4 albums}}
			<div class="row">
				{{#each this}}
				<div class="col-md-3">
					<div class="album-container">
						<img src="{{this.album_art}}" class="album-image img-fluid" />
						<div class="album-overlay">
							<div class="album-overlay-text">
								<h5 class="white"><a href="/album/{{this.id}}">{{this.title}}</a></h5>
								<p>by {{this.Artist.artist_name}}</p>
								{{#if ../../extra.loggedIn}}
									{{#if ../../extra.loggedIn}}
										<h5 class="white"><a href="/album/{{this.id}}"></a>{{this.albumName}}</a></h5>
									{{else}}
										<h5 class="white">{{this.albumName}}</h5>
									{{/if}}
									<p>by {{this.artistName}}</p>
								{{/if}}
							</div>
						</div>
					</div>
				</div>
				{{/each}}
			</div>
			<br>
		{{/groupedEach}}
	{{/if}}
</div>
{{/if}}